# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.cpp text
*.h text
*.c text
*.js text
*.css text
*.html text
*.json text
*.md text

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
